@import './variables/variables';
@import './utilidades/utilidades';
@import './compartidos/header';
@import './compartidos/main';
@import './compartidos/footer';
@import './medias/medias';

body {
    background-color: $colorbody;
    font-family: "Libertinus Sans", sans-serif;
    height: 100%;
}

footer {
    @include margntop (1rem)
}