@media only screen and (max-width: 575px) {


    .flexmedia {
        flex-direction: column !important;
        width: 100% !important;

        img {
            margin: 0.5rem 0 0 0 !important;
            width: 100% !important;
        }

        div {
            width: 100% !important;

        }
    }

    /*Media Catalogo*/
    .card {
        margin: $margincentrado !important;
    }

    /*Media Servicios*/
    .servicios img {
        @include margntop (3.7rem)
    }

    .div-section-servicios {
        flex-direction: column;
        @include margntop (0.5rem);
    }


    .div-section-servicios1,
    .div-section-servicios2,
    .div-form {
        width: 100% !important;
        @include margntop (0.5rem);
    }
}

@media only screen and (min-width: 576px) and (max-width: 989px) {
    .div-inicio img {
        height: 450px;
    }

    .flexmedia {
        flex-direction: column !important;
        width: 100% !important;

        img {
            width: 100% !important;
        }

        div {
            width: 100% !important;
        }
    }

    .seccion-h1 {
        margin-top: 6rem;
    }


    /*Media Servicios*/
    .servicios img {
        @include margntop (11vw)
    }

}

@media only screen and (min-width: 990px) {
    .gap {
        gap: 7rem;
    }

    .seccion-h1 {
        margin-top: 9vw;
    }

    .font-h2 {
        font-size: 3rem;
    }

    .font-p {
        font-size: 1.5rem;
    }

    /*Media Servicios*/
    .servicios img {
        @include margntop (8.9vw)
    }
}

