$colorbody: #f8f9fa;
$gaph: 0.7rem;
$colorinicio: rgba(126, 77, 65, 0.689);
$colornav: #ecb4b4;
$colorhover: rgba(127, 27, 27, 0.523);
$colorbuttoncatal: #ecb4b4;
$margincentrado: 0 auto;
$colorcard: #bdd8f34f;