
/*Header*/

nav {
    background-color: $colornav;
}

.gap {
    gap: $gaph;
}

.imagen-header {
    @include widt (25%);
}


.transform:hover {
  transform: scale(1.2);
  transition: 0.2s;
  color: $colorhover !important;
}