/*Main Inicio*/


.seccion-h1 {
    @include margntop (4rem);
    @include flex (flex, center, center, center);
    flex-direction: column;
}


.div-inicio {
    @include margntop (0.5rem);
    height: 450px;
    padding: 0 2rem;

}


.div-main-h2p {
    padding-left: 1rem;
    @include flex (flex, center, center, center);
    flex-direction: column;
    color: $colorblanco;
    font-weight: 700;

    h2 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2rem;
    }

    a {
        list-style: none;
        text-decoration: none;
        color: $colorblanco;
        font-size: 1.5rem;
        font-weight: 700;
        background-color: $colornav;
        border-radius: 5px;
        padding: 0.3rem;

    }
}




.colordiv {
    background-color: $colorinicio;
}

/*Main Catalogo*/

.card {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    background-color: $colorcard;
    height: 550px;
    width: 300px;
    align-items: center;

}

.card img {
    width: 90%;
    border-radius: 15px;
}

.card p {
    width: 100%;
    padding: 0 10px;
    margin-top: 1rem;
}

.card .btn-base {
    border-radius: 5px;
    background-color: $colorbuttoncatal;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    width: 100px;
    margin: $margincentrado;
    margin-bottom: 10px;
}

.div-section-button {
    @include button (pointer, rgb(245, 226, 212), 0.1px solid rgba(0, 0, 0, 0.728), 0.2s, scale(1.2), rgba(0, 0, 0, 0.616), rgb(245, 226, 212))
}

/*Main servicios*/


.servicios {


    img {
        margin: $margincentrado;
        margin-top: 3.7rem;
        max-width: 90%;
        height: 450px;
    }

    .div-section-servicios {
        @include margntop (0.5rem);
        font-weight: 700;
    }

    .div-section-servicios1,
    .div-section-servicios2 {
        @extend .card;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 50%;
        height: auto;
    }


    .div-form {
        @include flex (flex, center, center, center);
        @extend .card;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 0.5rem;
        font-weight: 700;
        width: 50%;
        height: auto;
        gap: 2px;
    }


    button {
        @extend .btn-base;
    }

   

}