/*Main Inicio*/


.seccion-h1 {
    @include flex (flex, center, center, center);
    flex-direction: column;
}

.margintop {
    @include margntop (4rem);
}

.suave {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.margin-top-inicio {
    @include margntop (0.5rem);
}
.width-img {
    max-width: 65%;
}

.div-main-h2p {
    
    padding-left: 1rem;
    @include flex (flex, center, center, center);
    flex-direction: column;
}
.font-h2 {
    font-size: 1.5rem;
}
.font-p {
    font-size: 1rem;
}

.colordiv {
    background-color: $colorinicio;
}

/*Main Catalogo*/

.div-section-button {
    @include button (pointer, rgb(245, 226, 212), 0.1px solid rgba(0, 0, 0, 0.728), 0.2s, scale(1.2), rgba(0, 0, 0, 0.616), rgb(245, 226, 212))
}
